*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#050505;
font-family:'JetBrains Mono',monospace;
color:#7CFFB2;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.background-grid{

position:absolute;

width:100%;
height:100%;

background-image:

linear-gradient(rgba(124,255,178,.04) 1px,transparent 1px),

linear-gradient(90deg,rgba(124,255,178,.04) 1px,transparent 1px);

background-size:40px 40px;

}

.container{

position:relative;

width:800px;

padding:50px;

background:rgba(0,0,0,.55);

border:1px solid rgba(124,255,178,.15);

backdrop-filter:blur(10px);

box-shadow:0 0 30px rgba(124,255,178,.08);

}

.header{

display:flex;

align-items:center;

gap:10px;

font-size:13px;

margin-bottom:30px;

letter-spacing:2px;

}

.status-dot{

width:10px;

height:10px;

border-radius:50%;

background:#7CFFB2;

box-shadow:0 0 15px #7CFFB2;

animation:pulse 1.2s infinite;

}

@keyframes pulse{

50%{

opacity:.3;

}

}

h1{

font-size:52px;

margin-bottom:20px;

}

.line{

height:1px;

background:#7CFFB2;

opacity:.2;

margin-bottom:35px;

}

#terminal{

white-space:pre-line;

font-size:19px;

line-height:2;

min-height:330px;

}

button{

margin-top:30px;

padding:18px 45px;

background:transparent;

border:1px solid #7CFFB2;

color:#7CFFB2;

font-size:18px;

cursor:pointer;

transition:.3s;

font-family:inherit;

}

button:hover{

background:#7CFFB2;

color:#000;

box-shadow:0 0 25px #7CFFB2;

}
